.home {
    width: 19%;
    margin-top: 0;
    position : fixed;
    background: hsla(240, 74%, 51%, 0.959);
    height: 100%;
    list-style-type : none;
    margin : 0%;
    padding: 1%;
    text-decoration: black
}
body > #root > div {
    height: 100vh;
  }

.cls {
    color: white
}

.headingcolor {
    color: white;
    margin-left: 60px
}

.unorderedlist {
    margin-left: -12px;
    margin-top: 20px;
}

.studentname {
    padding-left : 20px
}