.students {
    width: 80%;
    margin-left: 19.4%;
    position : 0%;
    background : rgb(203, 210, 243);
    list-style-type: none;
    height: auto;
}

.button {
    margin-Left : 20% ;
    font-size: 18px;
    border-radius: 100px
}

.subject {
    float : right;
    margin-right: -8px;
}

.progressbars {
    float : right;
    width : 50% ;
    margin-Top : 1.5% ;
    margin-Right : 3%; 
}

.span {
    float: right
}

.clsname {
    padding-left: 12px
}

.selectcls {
    font-size: 50px ;
    text-align: right;
    padding-top: 0px;
    color: darkslategrey;
    width: 375% ;

}

.hr{
    border: 1.5px solid #0f0fa0;
}

.clsaverage {
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
    background-color: whitesmoke;
    width : 540px
}